/* style.css: メインスタイルファイル */
@import url('header.css');
@import url('layout.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-custom {
    max-width: 960px; /* 960px に調整 */
    margin: 0 auto; /* 中央寄せ */
}

.form-container {
    max-width: 600px; /* フォームの幅をヘッダーと同じくらいに調整 */
    margin-left: 20px; /* 左端に寄せる */
}