<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小松農園</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- ヘッダー -->
    <header class="header-footer text-white py-3">
        <div class="container-custom d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="../images/komatufarm_logo.png" alt="小松農園ロゴ" class="logo me-2">
                <h1 class="h4 mb-0">小松農園</h1>
            </div>
            <nav>
                <a href="index.html" class="text-white me-3">TOP</a>
                <a href="order-history.html" class="text-white me-3">注文履歴</a>
                <a href="admin-settings.html" class="text-white">管理者</a>
            </nav>
        </div>
    </header>
    
    <!-- 商品を追加 -->
    <div class="container-custom">
        <h1 class="text-start mt-5">商品を追加</h1>
        <form method="POST" class="form-container text-start">
            <label>名前：</label><input type="text" name="name" required class="form-control mb-2"><br>
            <label>価格：</label><input type="number" name="price" required class="form-control mb-2"><br>
            <label>説明：</label><input type="text" name="description" class="form-control mb-2"><br>
            <label>在庫：</label><input type="number" name="stock" required class="form-control mb-2"><br>
            <button type="submit" class="btn btn-primary mt-2">登録</button>
        </form>

        <!-- 戻るボタン -->
        <div class="mt-5"> <!-- 100px のマージン -->
            <a href="{{ url_for('index') }}" class="btn btn-secondary">TOP戻る</a>
        </div>
    </div>

    <!-- フッター -->
    <footer class="header-footer text-white text-center py-3 mt-5">
        <p class="mb-0">&copy;2025 小松農園</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>

</body>
</html>
